/*
  Appending custom SCSS variables will override the default ones in `_sass/addon/variables.scsss`
*/

/* syntax highlight */
$code-font-size: 1rem;

$font-family-base: 'IBM Plex Sans KR', 'Microsoft Yahei', sans-serif;
$font-family-heading: 'IBM Plex Sans KR', 'Microsoft Yahei', sans-serif;
