@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

@import "./fonts.css";

@theme {
  --font-sans:
    Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  --font-mono: "Cascadia Code", Menlo, Monaco, "Courier New", monospace;
  --font-chiron: "Chiron GoRound TC", sans-serif;
}

@layer base {
  body {
    @apply text-ctp-text bg-ctp-mantle;
  }
}
