@utility prose-catppuccin {
  /* https://github.com/catppuccin/tailwindcss/pull/45/changes */
  &.prose {
    --tw-prose-body: var(--color-text);
    --tw-prose-headings: var(--color-text);
    --tw-prose-lead: var(--catppuccin-color-overlay2);
    --tw-prose-links: var(--color-primary);
    --tw-prose-bold: var(--color-text);
    --tw-prose-counters: var(--catppuccin-color-overlay0);
    --tw-prose-bullets: var(--catppuccin-color-surface2);
    --tw-prose-hr: var(--catppuccin-color-surface1);
    --tw-prose-quotes: var(--catppuccin-color-subtext0);
    --tw-prose-quote-borders: var(--catppuccin-color-overlay2);
    --tw-prose-captions: var(--color-text);
    --tw-prose-kbd: var(--catppuccin-color-overlay2);
    --tw-prose-kbd-shadows: color-mix(
      in oklab,
      var(--catppuccin-color-overlay2) 50%,
      transparent
    );
    --tw-prose-code: var(--color-text);
    /* --tw-prose-pre-code: var(--catppuccin-color-subtext1); */
    /* --tw-prose-pre-bg: var(--catppuccin-color-mantle); */
    --tw-prose-th-borders: var(--catppuccin-color-surface2);
    --tw-prose-td-borders: var(--catppuccin-color-surface0);
  }

  @apply font-ibm-plex-sans-kr;

  /* Headings */
  @apply prose-headings:font-bold prose-headings:text-pretty;
  /* Add hashes before headings */
  & :where(h1, h2, h3, h4)::before {
    @apply mr-1 text-(--color-text-dim)/30;
  }
  @apply prose-h1:before:content-["#"];
  @apply prose-h2:before:content-["##"];
  @apply prose-h3:before:content-["###"];
  /* But not for callouts */
  & [data-callout] :where(h1, h2, h3, h4) {
    @apply before:content-none;
  }

  /* Texts */
  @apply prose-p:break-keep prose-p:wrap-break-word prose-p:text-lg/8 lg:prose-p:text-base/7;
  & a:not(:is([data-photo-swipe],[data-external-link])) {
    @apply anchor-link;
  }
  & a[data-external-link] {
    @apply rounded-md transition-colors duration-200 ease-out hover:bg-(--color-primary)/80 hover:text-(--color-text-inverse);
  }

  /* Lists */
  @apply prose-li:break-keep prose-li:wrap-break-word;
  & :is(ul,ol) :is(ul,ol),
  & :is(ul,ol) li {
    @apply my-1;
  }

  & table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  /* Bold text */
  & strong {
    @apply font-bold text-(--color-primary);
    @apply rounded-sm bg-(--color-primary)/10 px-1;
  }

  /* Italic text */
  & em {
    @apply text-(--color-secondary) italic;
    @apply rounded-sm bg-(--color-secondary)/10 pr-1.5 pl-1;
  }

  /* Reset colors for bold, italics in callout */
  & [data-callout] :where(strong, em) {
    @apply text-current p-0 bg-transparent;
  }

  /* Footnotes link */
  & p sup:has(a) {
    @apply before:content-none after:content-none;
    a {
      @apply text-sm before:content-["["] after:content-["]"];
    }
  }

  /* Images */
  @apply prose-img:mx-auto prose-img:overflow-hidden prose-img:shadow-sm prose-img:rounded-(--card-radius);

  /* Caption under image using italics */
  & a[data-photo-swipe] img {
    @apply my-0;
  }
  & figure a[data-photo-swipe] + figcaption {
    @apply block bg-transparent text-center text-sm/6 text-(--color-text-dim) before:content-[open-quote] after:content-[close-quote];
  }

  /* Inline code */
  & :not(pre) > code {
    @apply bg-ctp-subtext0/10 rounded px-1 py-0.5 font-normal before:content-none after:content-none;
  }

  /* MathJax */
  & mjx-container.MathJax[jax="CHTML"][display="true"] {
    @apply overflow-scroll pb-4;
  }
}
