---
---

@import '{{ site.theme }}';

/* append your custom style below */

p {
  em {
    color: #c45ac5;
  }
  strong {
    color: #4aad4f;
  }
}

li {
  em {
    color: #c45ac5;
  }
  strong {
    color: #4aad4f;
  }
}
