---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import PostCardItem from "@components/common/PostCardItem.astro";
import PaginationNav from "@components/common/PaginationNav.astro";
import BaseBlogLayout from "@layouts/BaseBlogLayout.astro";
import { sortPost } from "@utils/content";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = sortPost(await getCollection("blog"), "desc");
  return paginate(posts, { pageSize: 10 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<BaseBlogLayout title="Blog articles"  noindex={page.currentPage !== 1} currentCategory={null} currentTag={null}>
  <div slot="main-content" class="mb-4 flex flex-col gap-y-4">
    <h1 class="sr-only">List of all posts</h1>
    {page.data.map((post) => <PostCardItem {...post} />)}
  </div>
  <div slot="after-main">
    <PaginationNav pages={page} />
  </div>
</BaseBlogLayout>
