---
import AboutHeroImage from '@attachments/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Read about interesting facts about me!"
	pubDate={new Date('2026/3/7')}
	heroImage={AboutHeroImage}
>
  <ul>
    <li>
      2022~2026 Hansung Univ. Digital contents/Virtual Reality track
    </li>
  </ul>
</Layout>
