---
import BaseLayout from "@layouts/BaseLayout.astro";
import DarkModeSwitch from "@components/ui/DarkModeSwitch.astro";
---

<BaseLayout>
  <main>
    <DarkModeSwitch/>
    <h1>Welcome!</h1>
  </main>
</BaseLayout>
