/*
 * The syntax light mode code snippet colors.
 */

@use '../catppuccin/latte' as *;

@mixin light-syntax {
  /* --- custom light colors --- */
  --language-border-color: #{$surface1}; // #2d2d2d;
  --highlight-bg-color: #{$crust}; // #151515;
  --highlighter-rouge-color: #{$lavender}; // #c9def1;
  --highlight-lineno-color: #{$overlay1}; // #808080;
  --inline-code-bg: #{$crust}; // #323238;
  --code-color: #{$text}; // #b0b0b0;
  --code-header-text-color: #{$text}; // #6a6a6a;
  --code-header-muted-color: #{$surface1}; //  #353535;
  --code-header-icon-color: #{$subtext0}; // #565656;
  --clipboard-checked-color: #2bcc2b;
  --filepath-text-color: #{$sapphire}; // #cacaca;

  // [class^='prompt-'] {
  //   --inline-code-bg: #fbfafa;
  // }

  /* --- Syntax highlight theme from `rougify style github` --- */
  .highlight {
    table td {
      padding: 5px;
    }

    table pre {
      margin: 0;
    }

    // prompt token
    .gp {
      color: #{$blue}; // #87939d;
    }

    &,
    .w {
      color: var(--code-color);
      background-color: #{$mantle};
    }

    .err {
      color: #151515;
      background-color: #ac4142;
    }

    /* --- Syntax highlight theme from `rougify style base16.dark` --- */
    // comments
    .c,
    .ch,
    .cd,
    .cm,
    .c1,
    .cs {
      color: #{$overlay2}; // #848484;
    }

    // comment preprocessor
    .cp {
      color: #{$green}; // #f4bf75;
    }

    // comment preprocessor file
    .cpf {
      color: #{$teal};
    }

    // operator
    .o,
    .ow {
      color: #{$blue}; // #d0d0d0;
    }

    .p,
    .pi {
      color: #6c6c6c;
    }

    .gi {
      color: #90a959;
    }

    .gd {
      color: #f08a8b;
      background-color: #320000;
    }

    .gh {
      color: #6a9fb5;
      background-color: #151515;
      font-weight: bold;
    }

    // keyword
    .k,
    .kn,
    .kp,
    .kr,
    .kv {
      color: #{$mauve}; // #aa759f;
    }

    // keyword constant
    .kc {
      color: #{$peach}; // #d28445;
    }

    // keyword type
    .kt,
    .kd {
      color: #{$yellow}; // #d28445;
    }

    // string
    .s,
    .sb,
    .sc,
    .dl,
    .sd,
    .s2,
    .sh,
    .sx,
    .s1 {
      color: #{$green}; // #90a959;
    }

    // string affix
    .sa {
      color: #{$teal}; // #aa759f;
    }

    // string regex
    .sr {
      color: #{$teal}; // #75b5aa;
    }

    // string escape
    .se {
      color: #{$maroon}; // #b76d45;
    }

    // builtin names, namespace name
    .nb,
    .nn {
      color: #{$yellow};
    }

    // name tag
    .nt {
      color: #{$peach}; // #f4bf75;
    }

    // name function
    .nf {
      color: #{$sky};
    }

    // name class
    .nc {
      color: #{$peach}; //  #f4bf75;
    }

    // name attribute
    .na {
      color: #{$teal}; // #6a9fb5;
    }

    // Literal numbers
    .m,
    .mb,
    .mf,
    .mh,
    .mi,
    .il,
    .mo,
    .mx {
      color: #{$peach}; // #90a959;
    }
  }

} /* light-syntax */
