---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import type { BlogPost } from "../../../utils/types";
import PostCardItem from "@components/common/PostCardItem.astro";
import BaseBlogLayout from "@layouts/BaseBlogLayout.astro";
import BaseHead from "@components/BaseHead.astro";
import WebSiteStructuredData from "@components/structuredData/WebSiteStructuredData.astro";
import PaginationNav from "@components/common/PaginationNav.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

  const tagPostRecord = allPosts.reduce(
    (acc, post) => {
      const tags = post.data.tags;
      tags.forEach((t) => {
        if (t in acc) {
          acc[t].push(post);
        } else {
          acc[t] = [post];
        }
      });
      return acc;
    },
    {} as Record<string, Array<BlogPost>>,
  );

  return Object.entries(tagPostRecord).flatMap(([tag, posts]) =>
    paginate(posts, {
      pageSize: 10,
      params: { tag },
    }),
  );
}) satisfies GetStaticPaths;

const { tag } = Astro.params;
const { page } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead noindex={true} />
    <WebSiteStructuredData />
  </head>
  <body>
    <BaseBlogLayout>
      <div slot="main-content">
        <h3 class="font-chiron mb-4 text-center text-4xl font-black">
          Showing tag:
          <span class="font-bold underline">`{tag}`</span>
        </h3>
        <div class=`mb-4 flex flex-col gap-y-4`>
          {page.data.map((post) => <PostCardItem {...post} />)}
        </div>
      </div>
      <div slot="after-main">
        <PaginationNav pages={page} />
      </div>
    </BaseBlogLayout>
  </body>
</html>
