---
import type { GetStaticPaths, Page } from "astro";
import { getCollection } from "astro:content";
import type { BlogPost } from "../../utils/types.ts";
import PostCardItem from "@components/PostCardItem.astro";
import BaseBlogLayout from "@layouts/BaseBlogLayout.astro";

interface Props {
  page: Page<BlogPost>;
  tag: string;
}

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = (await getCollection("blog"))
    .sort((a, b) => b.data.pubDate - a.data.pubDate);

  const tagPostRecord = allPosts.reduce(
    (acc, post) => {
      const tags = post.data.tags;
      tags.forEach((t) => {
        if (t in acc) {
          acc[t].push(post);
        }
        else {
          acc[t] = [post];
        }
      });
      return acc;
    },
    {} as Record<string, Array<BlogPost>>
  );

  return Object.entries(tagPostRecord)
    .flatMap(([tag, posts]) => (
      paginate(posts, {
        pageSize: 5,
        params: { tag }
      })
    ));
}) satisfies GetStaticPaths;

const { tag } = Astro.params;
const { page } = Astro.props;
---

<BaseBlogLayout pages={page}>
  <h3 class="text-4xl font-chiron font-black text-center">
    Showing tag:
    <span class="font-bold underline">`{tag}`</span>
  </h3>
  {
    page.data.map(post => (
      <PostCardItem {...post} />
    ))
  }
</BaseBlogLayout>
