---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import BaseBlogLayout from "@layouts/BaseBlogLayout.astro";
import PostCardItem from "@components/common/PostCardItem.astro";
import PaginationNav from "@components/common/PaginationNav.astro";
import type { BlogPost } from "@utils/types";
import { sortPost } from "@utils/content";

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = sortPost(await getCollection("blog"), "desc");

  const tagPostRecord = allPosts.reduce(
    (acc, post) => {
      const tags = post.data.tags;
      tags.forEach((t) => {
        if (t in acc) {
          acc[t].push(post);
        } else {
          acc[t] = [post];
        }
      });
      return acc;
    },
    {} as Record<string, Array<BlogPost>>,
  );

  return Object.entries(tagPostRecord).flatMap(([tag, posts]) =>
    paginate(posts, {
      pageSize: 10,
      params: { tag },
    }),
  );
}) satisfies GetStaticPaths;

const { tag } = Astro.params;
const { page } = Astro.props;
---

<BaseBlogLayout noindex={true} currentTag={tag}>
  <div slot="main-content">
    <!-- Tag title -->
    <h1 class="mb-4 text-center font-chiron text-4xl font-black">
      Showing tag:
      <span class="font-bold underline">`{tag}`</span>
    </h1>
    
    <!-- Tag post cards -->
    <div class="mb-4 flex flex-col gap-y-4">
      {page.data.map((post) => <PostCardItem {...post} />)}
    </div>
  </div>
  <div slot="after-main">
    <PaginationNav pages={page} />
  </div>
</BaseBlogLayout>
