---
import { getCollection } from "astro:content";
import { buildCategoryTree } from "../utils/categoryTree";
import CategoryTreeItem from "./CategoryTreeItem.astro";

const allPosts = await getCollection("blog");
const tree = await buildCategoryTree(allPosts);

interface Props {
  currentCategory?: string;
}

const { currentCategory } = Astro.props;
---

<ul class="mt-2 ml-4">
  <!-- All Posts -->
  <li class="-ml-3 relative z-3">
    <a href="/" class="bg-ctp-base hover:underline hover:decoration-ctp-lavender hover:text-ctp-lavender ">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 fill-ctp-text inline-block z-3 relative" viewBox="0 0 16 16">
        <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
      </svg>
      All posts
    </a>
  </li>
  <!-- Treelist of category -->
  {
    Object.values(tree)
      .sort((a, b) => a.name.localeCompare(b.name, "ko", { numeric: true }))
      .map(node => <CategoryTreeItem node={ node } currentCategory = { currentCategory } />)
  }
</ul>
