---
import { getCollection } from "astro:content";
import CategoryTree from "@components/CategoryTree.astro";

const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.flatMap(post => post.data.tags))];

interface Props {
  currentCategory?: string;
}

const { currentCategory } = Astro.props;
---

<aside class="w-full flex flex-col gap-4 font-chiron">
  <div id="sidebar__category" class="bg-ctp-base rounded-(--card-radius) p-4">
    <details open>
      <summary>
        <h3>Category</h3>
      </summary>
      <CategoryTree {currentCategory} />
    </details>
  </div>
  <div id="sidebar__tags" class="bg-ctp-base rounded-(--card-radius) p-4">
    <details open>
      <summary><h3>Tags</h3></summary>
      <ul class="mt-2 ml-4">
        {
          tags.map(tag => (
            <li>
              <a href={`/tag/${tag}`}>{tag}</a>
            </li>
          ))
        }
      </ul>
    </details>
  </div>
</aside>

<style>
  @reference "@styles/global.css";

  summary {
    @apply cursor-pointer hover:underline;
    h3 {
      @apply inline font-black text-xl;
    }
  }
  ul a {
    @apply hover:text-ctp-lavender hover:underline hover:decoration-ctp-lavender;
  }

  #sidebar__category ul li {
    @apply pl-4 border-l border-l-ctp-surface2 block relative;

    &:last-child {
      border-color: transparent;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -1px;
      left: -1px;
      width: 1rem;
      height: 1rem;
      @apply border-b-ctp-surface2 border-l-ctp-surface2 border-b border-l;
    }
  }

  #sidebar__tags ul {
    @apply flex flex-row flex-wrap gap-2.5;
    a {
      @apply rounded-md bg-ctp-subtext1/10 px-1.5 py-1 transition-colors duration-100 ease-out;

      &:hover, &:focus-visible {
        @apply bg-ctp-lavender text-ctp-base;
      }
    }
  }
</style>
