---
import SideBar from "@components/layout/SideBar.astro";
import { House } from "@lucide/astro";
import { buildCategoryTree } from "@utils/categoryTree";
import type { ComponentProps } from "astro/types";
import { getCollection } from "astro:content";
import CategoryTreeItem from "./CategoryTreeItem.astro";

const allPosts = await getCollection("blog");
const tree = buildCategoryTree(allPosts);

type Props = Pick<ComponentProps<typeof SideBar>, "currentCategory"> & {
  isHome: boolean;
};
const { currentCategory, isHome } = Astro.props;
---

<ul class="">
  <!-- All Posts -->
  <li class="relative">
    <a
      href="/"
      class:list={[
        "group h-6 group flex flex-row items-center justify-start gap-1 bg-ctp-base hover:text-(--color-primary) hover:underline hover:decoration-(--color-primary)",
        { "font-bold text-(--color-primary) underline decoration-(--color-primary)": isHome },
        { "font-normal text-ctp-text no-underline": !isHome },
      ]}
      aria-current={isHome ? "page" : undefined}
    >
      <div class="bg-(--card-color) z-5">
        <House 
        class:list={[
          "relative size-4 group-hover:text-current", 
          { "text-(--color-primary)": isHome }, 
          { "text-(--color-text)": !isHome }
          ]}
      />
      </div>
      <span>All posts</span>
    </a>
  </li>
  <!-- Treelist of category -->
  {
    Object.values(tree)
      .sort((a, b) => a.name.localeCompare(b.name, "ko", { numeric: true }))
      .map((node) => <CategoryTreeItem node={node} currentCategory={currentCategory} />)
  }
</ul>
