---
import { Sun, MoonStar } from "@lucide/astro";
---

<button id="lightmode-btn" class="cursor-pointer">
  <span class="sr-only">Toggle dark mode</span>
  <!-- Show when dark mode -->
  <MoonStar stroke-width={2.25} />
  <!-- Show when light mode -->
  <Sun stroke-width={2.25} />
</button>

<style>
  @reference "@styles/global.css";

  svg {
    @apply size-8 text-(--color--text) transition-all duration-300 ease-in-out hover:scale-110 hover:rotate-12 hover:text-(--color-primary) latte:text-(--color-text);
  }

  svg:first-of-type {
    @apply inline latte:hidden;
  }

  svg:last-of-type {
    @apply hidden latte:inline;
  }
</style>

<script>
  import { bindSwupHook } from "@utils/swup";
  import { toggleTheme } from "@utils/themeManager";

  function initToggleButton() {    
    const btn = document.querySelector<HTMLButtonElement>("button#lightmode-btn");
    btn?.addEventListener("click", toggleTheme);
  }

  bindSwupHook("page:view", initToggleButton);
</script>
