---
import "@styles/global.css";
import BaseHead from "@components/BaseHead.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="ATAI Devlog" description="Welcome to atai's dev blog!"/>
  </head>
  <body>
    <slot/>
  </body>
</html>
