---
import "@styles/global.css";

import TopNavBar from "@components/layout/TopNavBar.astro";
import SideBar from "@components/layout/SideBar.astro";
import HomeBanner from "@components/layout/HomeBanner.astro";
import Footer from "@components/layout/Footer.astro";

interface Props {
  currentCategory?: string;
}

const { currentCategory } = Astro.props;
---

<div class="text-ctp-text bg-ctp-crust flex min-h-screen flex-col">
  <div class="relative h-[10rem] w-full sm:h-[25rem]">
    <header class="sticky top-0 z-50 w-full">
      <div class="mx-auto max-w-5xl px-4">
        <TopNavBar />
      </div>
    </header>

    <div class="absolute inset-0 z-0 overflow-hidden">
      <HomeBanner />
    </div>
  </div>
  <div class="mx-auto grid w-full max-w-5xl grow grid-cols-4 grid-rows-[auto_1fr] gap-6 px-4 py-8 md:grid-cols-8 lg:grid-cols-24">
    <aside class="col-span-4 md:col-span-8 lg:sticky lg:top-[5rem] lg:col-span-7 lg:h-fit">
      <SideBar currentCategory={currentCategory} />
    </aside>

    <main
      class="col-span-4 md:col-span-8 lg:col-span-17"
      id="main-swup-container">
      <slot name="main-content" />
      <slot name="after-main" />
    </main>
  </div>
  <footer class="mt-auto w-full">
    <Footer />
  </footer>
</div>
