---
import BaseBlogLayout from "@layouts/BaseBlogLayout.astro";
---

<BaseBlogLayout title="About me" description="You can learn about me in this page.">
  <div slot="main-content" class="rounded-(--card-radius) bg-(--card-color) p-4 sm:p-6 shadow-sm/40">
    <div class="prose prose-catppuccin">
      <slot />
    </div>
  </div>
</BaseBlogLayout>
